# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.sample.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.eslintcache
docs
.work/**/*

.env
.env.*.local
public/inc/*
public/assets/**/*
public/includes/*
public/homeloan.json
public/apple-touch-icon.png
public/favicon.ico

*storybook.log
tsconfig.tsbuildinfo
